.root{
	-fx-font-size:10pt;
	-fx-background-color:black;
	-fx-background-image:url("galaxy.jpg");
}
.title{
	-fx-font-size:20pt;
	-fx-font-style:italic;
	-fx-fill: LightSkyBlue;
	-fx-alignment: center ;
}
.geneButton{ 
	-fx-alignment: center ;
	-fx-base:LightSkyBlue;
	-fx-padding:20px;
}
.inteHBox{
	-fx-alignment:center;
	-fx-base:LightSeaGreen;
	-fx-cursor:hand;
}
.mainHBox{
	-fx-alignment: center;
}
.sortsBView{
	-fx-alignment:center;
	-fx-base:LightSeaGreen;
	-fx-cursor:hand;
}
.buttonHbox{
	-fx-alignment:center;
	-fx-cursor:hand;
}

